{% load static from staticfiles %}
{% load tagLibrary %}
{% for order in orders %}
          <form action="{% url "orderConfirm" order.number %}" >
          {% csrf_token %}
          <h4 class="header ui orange block top attached ">订单号：{{ order.number }} </h4>
          <div class="ui attached segment bottom  ">
            <a class="ui red ribbon label">{{ order.get_status_display }}</a><span>{{ order.bike.name }}</span>
            <p>{{ order.bike.address }} 租金：¥{{ order.rentMoney }}</p>
            <div class="ui items">
              <div class="item">
                <div class="ui small image">
                  <img src="{{order.bike.photo.content.url }}" alt="">
                </div>
                <div class="content">
                    <dl class="horizontal-list">
                      <dt>价格：</dt><dd>¥{{ order.bike.dayRent }}/天¥{{ order.bike.hourRent }}/小时¥{{ order.bike.weekRent }}/周</dd>
                      <dt>取车时间：</dt><dd>{{ order.beginTime|date:"Y-m-d H:i" }}</dd>
                      <dt>还车时间：</dt><dd>{{ order.endTime|date:"Y-m-d H:i" }}</dd>
                      <dt>选择装备：</dt><dd>{{ order.equipments|equipment }}</dd>
                      <dt>单车数量：</dt><dd>{{ order.amount }}</dd>
                    </dl>
                    <dl class="horizontal-list">
                      <dt>应付押金：</dt><dd>¥{{ order.deposit }}</dd>
                      <dt>抵押证件：</dt><dd>{{ order.get_pledge_display }}</dd>
                      {% ifequal order.renter participator %}<dt>车主姓名：</dt><dd>{{ order.bike.owner.nickname }}</dd>{% else %}<dt>租客姓名：</dt><dd>{{ order.renter.nickname }}</dd>{% endifequal %}
                      {% ifequal order.renter participator %}<dt>车主手机：</dt><dd>{{ order.bike.owner.user.username }}</dd>{% else %}<dt>车主手机：</dt><dd>{{ order.renter.user.username }}</dd>{% endifequal %}
                      <dt>预定时间：</dt><dd>{{ order.added|date:"Y-m-d H:i" }}</dd>
                    </dl>
                </div>
              </div>
            </div>
            <div class="clearfix">
            {% ifequal order.bike.owner participator %}
              {% ifequal order.status 'confirming'%}<button class="ui right floated button orange" type="submit">确认订单</button>{% endifequal %}
              {% ifequal order.status 'confirmed'%}<button class="ui right floated button orange" type="submit">确认收车</button>{% endifequal %}
              {% if order.status == 'confirming' or order.status == 'confirmed' %}<div class="ui right floated button orange cancel" data-ordernumber="{{ order.number }}">取消订单</div>{% endif %}
            {% else %}
              {% if order.status == 'confirming' or order.status == 'confirmed' %}<div class="ui right floated button orange cancel" data-ordernumber="{{ order.number }}">撤回订单</div>{% endif %}
            {% endifequal %}
            </div>
          </div>
          </form>
{% endfor %}
