{% extends "base.html" %}
{% load tagLibrary %}
{% load staticfiles %}
{% block stylesheets %}
{{ block.super }}
<style>
    .item label{
        width:80px;
        text-align:left;
    }
    .item .content .header{
        vertical-align:-webkit-baseline-middle;
    }
</style>
{% endblock %}
{% block scripts%}
{{ block.super }}
<script src="{% static "components/state.min.js" %}"></script>
<script>
var equipments=[]
var equipments_array = ''
    $('.toggle').each(function(key,value){
        text = $(value).html()
            $(value).state({
                text:{
                inactive:text,
                active:'<i class="checkmark icon"></i>'+text
            },
            onActivate:function(e){
                var name = $(this).data('name')
                equipments.push(name)
                equipments_array=equipments.join(",")
                $('input[name="equipments"]').val(equipments_array)
            },
            onDeactivate:function(e){
                var name = $(this).data('name')
                var newArry = []
                $.each(equipments,function(i,n){
                    if(n!=name)newArry.push(n)
                })
                equipments = newArry
                equipments_array = equipments.join(",")
                $('input[name="equipments"]').val(equipments_array)
            }
        })
    })
</script>
{% endblock %}
{% block content %}
{{ block.super }}
<div class="ui tablet steps fluid">
  <div class="active step">
    <i class="send icon"></i>
    <div class="content">
      <div class="title">提交订单</div>
    </div>
  </div>
  <div class="step">
    <i class="spinner loading icon"></i>
    <div class="content">
      <div class="title">等待车主确认</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="car icon"></i>
    <div class="content">
      <div class="title">取车用车</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="comment icon"></i>
    <div class="content">
      <div class="title">还车评价</div>
    </div>
  </div>
</div>
<div class="ui segment">
    <form action="{% url "submitDone" %}" method="post" >
    {% csrf_token %}
    <h4 class="ui header dividing  orange"><i class="icon file text"></i>订单信息</h4>
        <div class="ui grid stackable middle aligned">
            <div class="ui column ten wide">
                <div class='ui items '>
                    <div class="item">
                        <label for="" class="ui label" style="display: inline-block;">单车名称：</label>
                        <div class="content "><div class="header ">{{ bike.name }}</div></div>
                        <input type="hidden" name="number" value="{{ bike.number }}">
                    </div>
                    <div class="item">
                        <label for="" class="ui label">地址：</label>
                        <div class="content"><div class="header">{{ bike.address }}</div></div>
                    </div>
                    <div class="item">
                        <label for="" class="ui label">单车车主：</label>
                        <div class="content"><div class="header">{{ bike.owner.nickname }}</div></div>
                    </div>
                    <div class="item">
                        <label for="" class="ui label">价格</label>
                        <div class="content"><div class="header">¥{{ bike.dayRent }}/天¥{{ bike.hourRent }}/小时¥{{ bike.weekRent }}/周</div></div>
                    </div>
                    <div class="item">
                        <label for="" class="ui label">取车时间</label>
                        <div class="content"><div class="header">{{ starttime }}</div></div>
                        <input type="hidden" name="starttime" value="{{ starttime }}">
                    </div>
                    <div class="item">
                        <label for="" class="ui label">还车时间</label>
                        <div class="content"><div class="header">{{ endtime }}</div></div>
                        <input type="hidden" name="endtime" value="{{ endtime }}">
                    </div>
                    <div class="item">
                        <label for="" class="ui label">租期：</label>
                        <div class="content"><div class="header">{{ week }}周{{ day }}天{{ hour }}小时</div></div>
                    </div>
                    <div class="item">
                        <label for="" class="ui label">数量</label>
                        <div class="content"><div class="header">{{ bike.amount }}辆</div></div>
                        <input type="hidden" name="amount" value="{{ bike.amount }}">
                    </div>
                    <div class="item">
                        <label for="" class="ui label">选择装备</label>
                        <div class="content">
                            <div class="header">
                            {% for equipment in equipments %}
                                <div class='ui toggle button' data-name="{{equipment}}">{{ equipment | equipment}}</div>
                            {% endfor %}
                            <input type="hidden" name="equipments">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <label for="" class="ui label">租客姓名</label>
                        <div class="content"><div class="header">{{ participator.realname }}</div></div>

                    </div>
                    <div class="item">
                        <label for="" class="ui label">手机号码</label>
                        <div class="content"><div class="header">{{ participator.user.username }}</div></div>
                    </div>
                </div>
            </div>
            <div class="ui six wide column">
                <div class="ui image">
                    <img src="{{ bike.photo.content.url }}" alt="">
                </div>
            </div>
    </div>
    <div class="divider ui"></div>
    <div class="extra content">
        <div class="ui grid stackable">
            <div class="row">
                <div class="ten wide column">
                    <h4 class="ui header">退订规则</h4>
                    <p>
                        如果您在取车时间前8小时之内取消订单或在租期内提前还车则会产生不良信用记录，请提前做好出行计划。
                    </p>
                    <p>
                        取消订单和提前还车时间以骑客租车系统中记录的时间为准。如与车主产生争议，请在争议发生后24小时内联系客服，我们会尽最大努力维护您的正当权益。
                    </p>
                </div>
                <div class="six wide column">
                    <div class="ui items">
                        <div class="item">
                            <label for="" class="ui label">本单实际租金：</label>
                            <div class="content"><div class="header">¥{{ rentMoney }}</div></div>
                            <input type="hidden" name="rentMoney" value="{{ rentMoney }}">
                        </div>
                        <div class="item">
                            <label for="" class="ui label">应付押金：</label>
                            <div class="content"><div class="header">¥{{ bike.deposit }}</div></div>
                            <input type="hidden" name="deposit" value="{{ bike.deposit }}">
                        </div>
                        <div class="item">
                            <label for="" class="ui label">应当面支付车主：</label>
                            <div class="content"><div class="header">¥{{ bike.deposit|add:rentMoney }}</div></div>
                        </div>
                        <div class="item">
                            <label for="" class="ui label">抵押证件：</label>
                            <div class="content"><div class="header">{{ bike.get_pledge_display }}</div></div>
                            <input type="hidden" name="pledge" value="{{bike.pledge}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider ui"></div>
    <div class="item">
        <button class="ui right floated button orange" type="submit">
            提交订单
        </button>
        <p class="submitnotice">注：提交订单表示已阅读并默认同意上方的<span class="submitnoticespan">《退订规则》</span>及<a href="../html/service.html" class="submitnoticespan">《服务协议》</a>
        </p>
    </div>
</form>
</div>
{% endblock %}
{% block footer %}
{{ block.super }}
{% endblock %}
