@import "import/participator-form";
// @import "import/fundamental";
.logo{
    padding:1em;
}
.container.content{
    padding:20px 0;
}
.clearfix{
    &:after{
        content:'';
        display:table;
        clear:both;
    }
}
.toc.item{
    display:none!important;
    @media only screen and (max-width: 700px) {
        display:block!important;
    }
}
.selfinfo{
    display:block!important;
    @media only screen and (max-width: 700px) {
        display:none!important;
    }
}
//
// input[type="file"]{
//     opacity: 0;
// }
//
// .ui.head{
//   padding: 10px 0px 10px 0px;
//   margin: 0px;
//   .logo{
//     margin-top: 5px;
//     display: table-cell;
//     vertical-align: middle;
//   }
// }
//
// //右侧
// .right.item{
//   .setFonts();
//   margin-right: 0px;
//   padding: 0px;
//   a.button{
//     font-weight: normal;
//     color: black;
//     box-shadow:@cancel_box_shadow;
//     padding-left: 0px;
//   }
//   a.button:hover{
//     background-color: @qike_orange;
//     box-shadow: @cancel_box_shadow;
//   }
//   a.ui.inverted.button:last-child{
//     border: 1px solid black;
//     border-radius:2px;
//     width: 90px;
//     height: 30px;
//     text-align: center;
//     padding: 0px;
//     line-height: 30px;
//   }
//   a.ui.inverted.button{
//   }
// }
// //end 未登录
//
// .right.item{
//   .text{
//     .setFonts();
//   }
//   .dropdown.icon{
//     color: black;
//   }
// }
// //end 已登录
//
//
//
// //底部
// div.footer.segment.inverted{
//   padding-bottom: 60px;
//   background:#fff;
//   .setFonts(@Size:12px;@Color:#484848);
//   .ui.header.inverted{
//     .setFonts(@Color:#484848);
//   }
//   .ui.inverted.link.list{
//     .setFonts(@Size:12px;@Color:#484848);
//     a.item{
//       .setFonts(@Size:12px;@Color:#484848);
//     }
//   }
// }
