{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/bikeForm.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
<form id="timeselect" class="" action="{% url "bikeSearch" %}" method="POST">
      {% csrf_token %}
          <div id="FecthBikeDiv" class="ui left labeled {% if not method = "ajax" %}big{% endif %} input right icon">
            <div class="ui basic label">取车时间</div>
            <input type="text" id="starttimecal" name="starttime" readonly>
            <i class='calendar icon'></i>
          </div>
          <div id="#ReturnBikeDiv" class="ui left labeled {% if not method = "ajax" %}big{% endif %} input right icon">
            <div class="ui basic label">还车时间</div>
            <input type="text" id="endtimecal" name="endtime"  readonly>
            <i class='calendar icon'></i>
          </div>
          <button type="submit" class='ui button primary big' id="OK">搜索单车</button>
</form>
<script type="text/javascript" src="{% static "js/library/bootstrap-datetimepicker.min.js"%}"></script>
<script type="text/javascript">
void function($){
  $('#starttimecal').datetimepicker({

    language:'zh-CN',

  });
  $('#endtimecal').datetimepicker({

    language:'zh-CN',

  });
}(window.jQuery)
</script>
