{% extends "participator_base.html" %}
{% load static from staticfiles %}
{% load tagLibrary %}
{% block scripts %}
{{ block.super }}
<script src="{% static "components/state.min.js"%}"></script>
<script src="{% static "components/tab.min.js"%}"></script>
<script src="{% static "components/api.min.js"%}"></script>
<script>
var currentTab;
$('.ui.modal').modal({
            blurring:true
         })
  $('.dynamic.menu .item').tab({
    apiSettings: {
      loadingDuration: 300,
      cache   : false,
      context : 'parent',
      auto    : true,
      alwaysRefrsh:true,
      history : false,
      url   : '/participator/ordermanage/{$tab}',
      method: 'post',
      data:{
        csrfmiddlewaretoken:$('input[name="csrfmiddlewaretoken"]').val()
      }
    },
    onLoad:function(tabPath){
      currentTab = tabPath
      $('.rating').rating({maxRating:5})
      $('.rating').not('.readonly').rating({onRate:function(value){
        $(this).parent('.reply').find('input[name="rating"]').val(value)
      }})
      $('.rating').filter('.readonly').rating('disable')
         $('.cancel').on('click',function(){
          $(this).hasClass('reject')?$('.rejectReason.modal').modal('show'):$('.withdrawReason.modal').modal('show')
          ordernumber = $(this).data('ordernumber')
            $('.send').api({
              url:'/participator/cancel/{ordernumber}',
              urlData:{
                ordernumber:ordernumber
              },
              method:'post',
              serializeForm:true,
              onSuccess:function(message){
                $('.modal').modal('hide')
                $('.dynamic.menu .item').tab('change tab',currentTab)
              },
              onError:function(message){
                  $('.modal').modal('hide')
                  $('.dynamic.menu .item').tab('change tab',currentTab)
              }
          })
         })
         $('.reply .submit.button').api({
            url:'/participator/orderComment/{ordernumber}',
            method:'post',
            serializeForm:true,
            onSuccess:function(message){
                $('.dynamic.menu .item').tab('change tab',currentTab)
            },
            onError:function(message){
                $('.dynamic.menu .item').tab('change tab',currentTab)
            }
        })
        $('.actions a.reply').state({
              text:{
                      inactive:'回复',
                      active:'收起回复',
                  },
          onActivate:function(e){
                  $(this).closest('.comments').find('form.reply').slideDown()
              },
          onDeactivate:function(e){
            $(this).closest('.comments').find('form.reply').slideUp()
          }
        })
    }
  })
  $('.dynamic.menu .item').tab('change tab','recent')

</script>

{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/orderManage.css"%}">
{% endblock %}
{% block participator_nav %}
    {% with active="orderManage" %}{{ block.super }}{% endwith %}
{% endblock %}
{% block main %}
    <div class='ui segment stacked'>
      <h4 class='ui dividing header'>我的收益</h4>
      <div class='ui grid statistics'>
        <div class='statistic  orange'>
          <div class='value'>
          <i class='yen small icon'></i>

          </div>
          <div class='label'>
            当月收益
          </div>
        </div>
        <div class='statistic orange'>
          <div class='value'>
          <i class='star half empty small icon'></i>

          </div>
          <div class='label'>
            接单率
          </div>
        </div>
        <div class='statistic  orange'>
          <div class='value'>
          <i class='thumbs outline up small icon'></i>
            100
          </div>
          <div class='label'>
            已成交
          </div>
        </div>
        <div class='statistic  orange'>
          <div class='value'>
          <i class='wait small icon'></i>
            20:20
          </div>
          <div class='label'>
            平分接单时间
          </div>
        </div>
      </div>
      <div class="ui pointing secondary menu dynamic">
        {% csrf_token %}
        <a class="item active" data-tab='recent'>当前订单</a>
        <a class="item" data-tab='owner'>我是车主</a>
        <a class="item" data-tab='renter'>我是租客</a>
      </div>
      <div data-tab="recent" class="ui tab active">
      </div>
      <div data-tab="owner" class="ui  tab">
      </div>
      <div data-tab="renter" class="ui tab">
      </div>
    </div>
<div class="ui  modals page transition hidden ">
    <form class="ui fullscreen modal transition hidden withdrawReason">
    {% csrf_token %}
      <i class="close icon"></i>
      <div class="header">撤回订单原因</div>
      <div class="content">
        <div class="ui form">
          <h4 class="ui dividing header">撤回订单原因</h4>
          <div class="field">
          <div class='ui search selection dropdown'>
            <input type="hidden" class='input' name="reason">
            <i class="dropdown icon"></i>
            <div class="default text">选择理由</div>
            <div class="menu">
                <div class="item" data-value='操作失误'>操作失误</div>
                <div class="item" data-value='蛋疼'>蛋疼</div>
                <div class="item" data-value='信息填写错误'>信息填写错误</div>
                <div class="item" data-value='不信任'>不信任</div>
            </div>
          </div>
          </div>
          <div class="field">
            <label>其他：</label>
            <textarea name="others"></textarea>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui green button send">确认</div>
      </div>
    </form>
    <form class="ui fullscreen modal transition hidden rejectReason">
    {% csrf_token %}
      <i class="close icon"></i>
      <div class="header">拒绝订单原因</div>
      <div class="content">
        <div class="ui form">
          <h4 class="ui dividing header">拒绝订单原因</h4>
          <div class="field">
            <div class='ui search selection dropdown'>
              <input type="hidden" class='input' name="reason">
              <i class="dropdown icon"></i>
              <div class="default text">选择理由</div>
              <div class="menu">
                  <div class="item" data-value='操作失误'>操作失误</div>
                  <div class="item" data-value='蛋疼'>蛋疼</div>
                  <div class="item" data-value='信息填写错误'>信息填写错误</div>
                  <div class="item" data-value='不信任'>不信任</div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>其他：</label>
            <textarea name="others"></textarea>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui green button send">确认</div>
      </div>
    </form>
    <div class="ui small modal transition ratingModal">
      <div class="header">
        为他（她）评分
      </div>
      <div class="content">
      <p>你确定这个评分吗？（不可以为0星哟）</p>
    </div>
    <div class="actions">
      <div class="ui negative button">否 </div>
      <div class="ui positive right labeled icon button confirm">是 <i class="checkmark icon"></i> </div>
    </div>
    </div>
</div>


{% endblock %}
