{% extends "participator_base.html" %}
{% load static from staticfiles %}
{% load tagLibrary %}
{% block title %}我的订单{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static "components/state.min.js"%}"></script>
<script src="{% static "components/tab.min.js"%}"></script>
<script src="{% static "components/api.min.js"%}"></script>
<script src="{% static "js/orderManage.js"%}"></script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/orderManage.css"%}">
{% endblock %}
{% block participator_nav %}
    {% with active="orderManage" %}{{ block.super }}{% endwith %}
{% endblock %}
{% block main %}
    <div class='ui segment'>
      <h4 class='ui dividing header'>我的收益</h4>
      <div class='ui grid statistics'>
        <div class='statistic  orange'>
          <div class='value'>
          <i class='yen small icon'></i>
          {{ profit }}
          </div>
          <div class='label'>
            当月收益
          </div>
        </div>
        <div class='statistic orange'>
          <div class='value'>
          <i class='star half empty small icon'></i>
          {{ ratio }}%
          </div>
          <div class='label'>
            接单率
          </div>
        </div>
        <div class='statistic  orange'>
          <div class='value'>
          <i class='thumbs outline up small icon'></i>
            {{ successOrders }}
          </div>
          <div class='label'>
            已成交
          </div>
        </div>
        <div class='statistic  orange'>
          <div class='value'>
          <i class='wait small icon'></i>
            {{ time }}
          </div>
          <div class='label'>
            平均接单时间
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment stacked">
      <div class="ui pointing secondary menu dynamic">
        {% csrf_token %}
        <a class="item active" data-tab='recent'>当前订单</a>
        <a class="item" data-tab='owner'>我是车主</a>
        <a class="item" data-tab='renter'>我是租客</a>
      </div>
      <div data-tab="recent" class="ui tab active">
      </div>
      <div data-tab="owner" class="ui  tab">
      </div>
      <div data-tab="renter" class="ui tab">
      </div>
    </div>

<div class="ui modals page transition hidden ">
    <form class="ui fullscreen modal transition hidden withdrawReason">
    {% csrf_token %}
      <i class="close icon"></i>
      <div class="header">撤回订单原因</div>
      <div class="content">
        <div class="ui form">
          <h4 class="ui dividing header">撤回订单原因</h4>
          <div class="field">
          <div class='ui search selection dropdown'>
            <input type="hidden" class='input' name="reason">
            <i class="dropdown icon"></i>
            <div class="default text">选择理由</div>
            <div class="menu">
                <div class="item" data-value='操作失误'>操作失误</div>
                <div class="item" data-value='蛋疼'>蛋疼</div>
                <div class="item" data-value='信息填写错误'>信息填写错误</div>
                <div class="item" data-value='不信任'>不信任</div>
            </div>
          </div>
          </div>
          <div class="field">
            <label>其他：</label>
            <textarea name="others"></textarea>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui green button send">确认</div>
      </div>
    </form>
    <form class="ui fullscreen modal transition hidden rejectReason">
    {% csrf_token %}
      <i class="close icon"></i>
      <div class="header">拒绝订单原因</div>
      <div class="content">
        <div class="ui form">
          <h4 class="ui dividing header">拒绝订单原因</h4>
          <div class="field">
            <div class='ui search selection dropdown'>
              <input type="hidden" class='input' name="reason">
              <i class="dropdown icon"></i>
              <div class="default text">选择理由</div>
              <div class="menu">
                  <div class="item" data-value='操作失误'>操作失误</div>
                  <div class="item" data-value='蛋疼'>蛋疼</div>
                  <div class="item" data-value='信息填写错误'>信息填写错误</div>
                  <div class="item" data-value='不信任'>不信任</div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>其他：</label>
            <textarea name="others"></textarea>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui green button send">确认</div>
      </div>
    </form>
    <div class="ui small modal transition ratingModal">
      <div class="header">
        为他（她）评分
      </div>
      <div class="content">
        <p>您确定这个评分吗？（不可以为0星哟）</p>
      </div>
      <div class="actions">
        <div class="ui negative button">否 </div>
        <div class="ui positive right labeled icon button confirm">是 <i class="checkmark icon"></i> </div>
      </div>
    </div>
    <div class="ui small modal transition transactionCancel">
      <div class="header">
        取消这次交易
      </div>
      <div class="content">
        <p>您确定取消这次交易吗？</p>
        <div class="actions">
        <div class="ui negative button">否 </div>
        <div class="ui positive right labeled icon button confirmCancel">是 <i class="checkmark icon"></i></div>
      </div>
      </div>
    </div>
    <div class="ui small modal transition confirmTransaction">
      <div class="header">
        确认这次交易
      </div>
      <div class="content">
        <p>您确定这次交易吗？</p>
        <div class="actions">
        <div class="ui negative button">否 </div>
        <div class="ui positive right labeled icon button transactionConfirm">是 <i class="checkmark icon"></i></div>
      </div>
      </div>
    </div>
</div>


{% endblock %}
