{% extends "base.html" %}
{% load staticfiles %}
{% block stylesheets %}
{{ block.super }}
<link  rel="stylesheet" href="{% static "css/swiper.min.css" %}">
<link rel="stylesheet" href="{% static "css/home.css"%}">
{% endblock %}
{% block scripts%}
{{ block.super }}
<script type="text/javascript" src="{% static "js/library/swiper.jquery.min.js"%}"></script>
<script type="text/javascript">
  //   var mySwiper = new Swiper('.swiper-container',{
  //   loop: true,
  //   autoplay:5000,
  //   speed:1000,
  //   pagination: '#bannerpagination',
  //   paginationClickable: true,
  //   grabCursor : true,
  //   nextButton: '.arrow-right',
  //   prevButton: '.arrow-left',
  //   parallax:true,
  // });
    // $(document).ready(function(){
    //   $('.tog_root .tog_div').hide();
    //   $('.tog_root .tog_div:first-child').show();
    //   setInterval("toggle_img()",5000);
    // });
    // function toggle_img(){
    //   var p_index = $('.tog_root .tog_div').filter(":visible").index();
    //   switch (p_index) {
    //     case 0:
    //       $(".tog_root .tog_div:eq(0)").fadeOut("fast");
    //       $(".tog_root .tog_div:eq(1)").fadeIn("slow");
    //       break;
    //     case 1:
    //       $(".tog_root .tog_div:eq(1)").fadeOut("fast");
    //       $(".tog_root .tog_div:eq(2)").fadeIn("slow");
    //       break;
    //     case 2:
    //       $(".tog_root .tog_div:eq(2)").fadeOut("fast");
    //       $(".tog_root .tog_div:eq(0)").fadeIn("slow");
    //       break;
    //     default:
    //     break;
    //   }
    // }
</script>
{% endblock %}
{% block content %}

 {% include "bikeForm.html" %}
<div id="allbuy" class='bd'>
      <ul class="inline-list">
      {% for carousel in carousels%}
        <li><img src="{{ carousel.image.url }}" alt="{{ carousel.title }}"></li>
      {% endfor %}
      </ul>
</div>
{% endblock %}
{% block footer %}
{{ block.super }}
{% endblock %}
